.HeaderControl {
  position: relative;
}
.modal {
  position: absolute;
  top: 62px;
  left: 0;
  background-color: var(--sec-color-dkgrey);
  width: 100%;  
}

.modal__menuList {
  width: 87.2%;
  margin: auto;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 32px;
  padding-bottom: 48px;
}
.modalHide {
  display: none;
}
.modalShow {
  display: flex;
}
.modal__menuList li {
  text-align: left;
}
.modal__menuList a {
  font-size: 1.5rem;
  color: var(--pri-color-white);
  line-height: 25px;
  text-decoration: none;
  letter-spacing: 2px;
}

.menu__ctrls--btn {
  background: none;
  border: none;
}
.nav {
  display: flex;
  width: 87.2%;
  margin: 35px auto;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: block;
  margin: auto;
  width: 202px;
}
.menu__ctrls {
  position: relative;
}
/*modal control button - close and open modal */
.btn--close {
  position: absolute;
  left: -30px;
  top: -10px;
 /*display: none;*/
}

.closeBtn {
  display: block;
}
.openBtn {
  display: none;
}

/* -------------------------
            hero section
 ------ -------------------------*/
.hero {
  width: 87.2%;
  text-align: center;
  margin: auto;
  padding-top: 80px;
}
.hero__container {
  background-color: var(--pri-color-peach);
}
.hero__title {
  font-size: 2rem;
  line-height: 36px;
  color: var(--pri-color-white);
}
.hero__summary {
  font-size: 0.9rem;
  color: var(--pri-color-white);
  margin-top: 14px;
  line-height: 25px;
  letter-spacing: 0;
  margin-bottom: 24px;
}
.hero__btn {
  font-size: 0.9rem;
  padding: 16.5px 28.5px;
  letter-spacing: 1px;
  font-weight: 600;
}
.hero__imageDisplay {
  width: 100%;
  background-image: url("../assets/home/desktop/image-hero-phone.png");
  height: 573px;
  background-repeat: no-repeat;
  background-size: 170% 215%;
  max-height: 100vh;
  background-position: 50% 21%;
}
