.hero_image_about {
  width: 100%;
}
.hero_image_about img {
  height: 320px;
  display: block;
  width: 100%;
}
.hero__btn__about {	
	background-color: var(--pri-color-peach);	
	color: var(--pri-color-white);
	margin-bottom: 29px;
}
