.projects {
  width: 87.2%;
  margin: auto;
  padding-top: 120px;
  /* background-image: url("../assets/shared/desktop/icon-right-arrow.svg"); */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  row-gap: 24px;
}
.project {
  position: relative;
  flex-grow: 1;
}

.project__summary {
  padding: 9.5px 2.5px;
  position: absolute;
  z-index: 10;
  top: 35%;
  left: 15%;
  color: var(--pri-color-white);
}

.project_img {
  display: block;
  width: 100%;
  margin: auto;
  min-height: 250px;
  border-radius: 6px;
}
.project__summary__title {
  font-size: 1.75rem;
  line-height: 36px;
  letter-spacing: 1.4px;
  font-weight: 600;
  text-transform: uppercase;
}
.project__btn {
  color: var(--pri-color-white);
  letter-spacing: 5px;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}
.project__btn__img {
  margin-left: 16px;
}

/* ------------------------------
      ADDITIONALINFO COMPONENT
      ------------------------------- */

.additionalInfo {
  padding-top: 120px;
  width: 87.2%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 80px;
  padding-bottom: 121px;
}
.additionalInfo h3 {
  font-size: 1.1rem;
  font-family: "Jost", sans-serif;
  line-height: 26px;
  letter-spacing: 5px;
  font-weight: 500;
  margin-bottom: 30px;
}
.additionalInfo p {
  font-family: inherit;
  font-size: 1rem;
  line-height: 26px;
  font-weight: 400;
}
.additionalInfo figcaption {
  margin-top: 48px;
}
