@media screen and (min-width: 1650px) {
    .App {
        width: 95%;
        max-width: 1490px;
        margin: 0 auto;
    }
    .modal {        
        right: -60%;
        position: relative;
        top: -123px;
    }
}